* {
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family:sans-serif;
}

body {
  background: black;
  text-align: center;
}

canvas {
  border: 10px solid #ff5252;
}

h1 {
  font-family: serif;
  font-weight: bold;
  margin-top: 0;
  font-size: 4em;
  letter-spacing: -10px;
  color: #FEF702;
}

h2 {
  font-size: 4em;
  display: inline-block;
  margin: 0 0.25em;
  color: #ff0000;
}

h3 {
  font-size: 4em;
  display: inline-block;
  margin: 0 0.25em;
}